<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h4 class="card-title">View Recipe</h4></div>
      
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>ID</th><th>Name</th><th>Category</th><th>Description</th>
                <th>Ingredients</th><th>Time</th><th>Diet</th><th>Image</th><th colspan="2">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let recipe of recipes">
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.categoryName }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.cookingTime }}</td>
                <td>{{ recipe.dietaryPreferences }}</td>
                <td>
                  <img *ngIf="imageUrls[recipe.id]" [src]="imageUrls[recipe.id]" class="img-fluid" alt="Recipe Image">
                  <ng-template #noImg>No Image</ng-template>
                </td>
                <td>
                  <button (click)="openRecipeModal(modalContent, recipe)" class="btn btn-success btn-fab btn-icon btn-round">
                    <i class="nc-icon nc-minimal-up"></i>
                  </button>
                </td>
                <td>
                  <button (click)="deleteRecipe(recipe.id)" class="btn btn-danger btn-fab btn-icon btn-round">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="recipes.length === 0" class="text-warning">No recipes available.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update Recipe</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Recipe Name</label>
        <input type="text" id="name" [(ngModel)]="recipe.name" name="name" class="form-control" />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select [(ngModel)]="recipe.categoryName" name="category" class="form-control">
          <option *ngFor="let c of categories" [value]="c.name">{{ c.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" [(ngModel)]="recipe.description" name="description" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <textarea id="ingredients" [(ngModel)]="recipe.ingredients" name="ingredients" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <label for="cookingTime">Cooking Time</label>
        <input type="text" id="cookingTime" [(ngModel)]="recipe.cookingTime" name="cookingTime" class="form-control" />
      </div>

      <div class="form-group">
        <label for="dietaryPreferences">Dietary Preference</label>
        <select [(ngModel)]="recipe.dietaryPreferences" name="dietaryPreferences" class="form-control">
          <option *ngFor="let d of dietaryPreferences" [value]="d.name">{{ d.name }}</option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label for="image">Recipe Image</label>
        <input type="file" (change)="onImageSelected($event)" class="form-control-file" />
      </div> -->
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="updateRecipe(modal)">Update</button>
  </div>
</ng-template>

